<?xml version="1.0" encoding="UTF-8"?>
<plugin id="cordova-plugin-security-provider"
        version="3.0.0"
        xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android">
   <engines>
      <engine name="cordova" version=">=3.9.1" /><!-- Needs cordova/urlutil -->
    </engines>

  <name>Security Provider</name>
  <description>Update de security provider async from Google Play</description>
  <js-module name="securityProvider" src="www/securityProvider.js">
    <clobbers target="securityProvider" />
  </js-module>

  <platform name="android">
    <config-file parent="/*" target="res/xml/config.xml">
      <feature name="broadcaster">
        <param name="android-package" value="org.bsc.cordova.CDVSecurityProvider" />
      </feature>
    </config-file>
    <config-file parent="/*" target="AndroidManifest.xml" />
    <source-file src="src/android/CDVSecurityProvider.java" target-dir="src/org/bsc/cordova" />
    <framework src="com.android.support:support-v4:23.4.0" />
    <framework src="com.google.android.gms:play-services:11.0.1" />
    <framework src="security.gradle" custom="true" type="gradleReference"/>
  </platform>
</plugin>
